{% from "macros/list_answers.html" import list_answers %}
{% from "macros/buttons.html" import button %}
{% extends "base_logged_in.html" %}
{% block title %}Respuestas{% endblock %}
{% block contentheading %} Answers {% endblock %}
{% block maincontent %}
    <!-- Otros detalles sobre la respuesta -->
    {% block questioncontent %}
        <!--  contenido de la respuesta {{'content'}} -->
         <!-- Meter la lista de answer (definir lista en macros?)
	 -->
        <p> Respuesta </p>
        {{ button('bluebg', '/new_answer?qid=' + question['qid']|string(), 'Añadir respuesta', '#') }}
        
        {% if answers|length() > 0 %}
            {{ list_answers(True, answers, question) }}
        {% endif %}
    {% endblock %}
{% endblock %}