{% from "macros/buttons.html" import button %}
{% from "macros/list_comments.html" import list_comments %}
{% macro answer(answ) %}
    <div style="border:1px solid black;">
        <p> Respuesta: {{ answ['body']}}</p>
        <p> Fecha: {{ answ['timestamp'] | ctime }}</p>  
        <p> Usuario que hizo la respuesta {{ answ['owner']['username'] }}</p>
        <p>{{ button('bluebg', '/new_comment?aid=' + answ['aid']|string(), 'Añadir comentario', '#') }}</p>
        <p>{{ button('greenbg', "#", 'Votar ⇧',) }} {{ button('redbg', "#", 'Votar ⇩',) }} </p>
        <p>{{ button('bluebg', "/new_report_answer", 'Reportar',) }}</p>
        <p>{{ list_comments(True, answ['comms'].values()) }}</p>
    </div>
    
{% endmacro %}