{% from "macros/buttons.html" import submit_button, button %}
{% from "macros/list_comments.html" import list_comments %}
{% macro answer(answ) %}
    <div style="border:1px solid black;">
        <p> Respuesta: {{ answ['body']}}</p>
        <p> Fecha: {{ answ['timestamp'] }}</p>  
        <p> Usuario que hizo la respuesta {{ answ['owner']['username'] }}</p>
        <p>{{ button('bluebg', '/new_comment?qid=' + answ['qid']|string() + "&aid=" + answ['aid']|string(), 'Añadir comentario', '#') }}</p>
        
        <form action="/new_answer_vote" method="post">
            <p>{{ submit_button('greenbg', 'Votar ⇧',) }}</p> 
            <input type="hidden" name="qid" value={{ answ['qid'] }}>   
            <input type="hidden" name="aid" value={{ answ['aid'] }}>
        </form> 
        <p>{{ button('bluebg', "/new_report_answer?qid=" + answ['qid']|string() + "&aid=" + answ['aid']|string(), 'Reportar',) }}</p>
        <p>{{ list_comments(True, answ['comms'], answ['qid']) }}</p>
    </div>
    
{% endmacro %}