{% from "macros/buttons.html" import button %}
{% macro comment(comment, qid) %}
    <div style="border:1px solid black;">
        <p> Respuesta: {{ comment['body']}}</p>
        <p> Fecha: {{ comment['timestamp'] | ctime}}</p>  
        <p>Sentimiento: {{ comment['sentiment'] }}</p>
        <p>Votos: {{ comment['votes'] }}</p>
        <p> Usuario que hizo la respuesta {{ comment['owner']['username'] }}</p>
        <p>{{ button('greenbg', "#", 'Votar ⇧',) }} {{ button('redbg', "#", 'Votar ⇩',) }} </p>
        <p>{{ button('bluebg', "/new_report_comment?qid=" + qid|string() + "&aid=" + comment['aid']|string() + "&cid=" + comment['cid']|string(), 'Reportar',) }}</p>
    </div>
    
{% endmacro %}