{% from "macros/report_questions.html" import report_questions %}
{% from "macros/report_answers.html" import report_answers %}
{% from "macros/report_comments.html" import report_comments %}
{% macro list_question_reports(ordered, items) %}
    {%- if ordered -%}
        <ol>
    {%- else -%}
        <ul>
    {%- endif -%}
    {%- for item in items -%}
        {{ report_questions(item) }}
    {%- endfor -%}
    {%- if ordered -%}
        </ol>
    {%- else -%}
        </ul>
    {%- endif -%}
{% endmacro %}
{% macro list_answer_reports(ordered, items) %}
    {%- if ordered -%}
        <ol>
    {%- else -%}
        <ul>
    {%- endif -%}
    {%- for item in items -%}
        {{ report_answers(item) }}
    {%- endfor -%}
    {%- if ordered -%}
        </ol>
    {%- else -%}
        </ul>
    {%- endif -%}
{% endmacro %}
{% macro list_comment_reports(ordered, items) %}
    {%- if ordered -%}
        <ol>
    {%- else -%}
        <ul>
    {%- endif -%}
    {%- for item in items -%}
        {{ report_comments(item) }}
    {%- endfor -%}
    {%- if ordered -%}
        </ol>
    {%- else -%}
        </ul>
    {%- endif -%}
{% endmacro %}