{% from "macros/buttons.html" import button %}
{% macro question(ver_boton, question, body) %}
    <div style="border:1px solid black;">
        <p> qid: {{ question['qid']}}</p>
        <p> Name: {{ question['title']}} </p>
        {%- if body -%}
            <p>Contenido: {{ question['body']}} </p>
        {%- endif -%}
        <p> Fecha: {{ question['timestamp'] | ctime }}</p>  

        {%- if ver_boton -%}
            <p>{{ button('bluebg', "/questions/answers?qid=" + question['qid']|string(), 'Ver respuestas',) }}</p>
            <p>{{ button('bluebg', "/questions/new_report_question?qid=" + question['qid']|string(), 'Reportar',) }}</p>
        {%- endif -%}
    </div>
    
{% endmacro %}