{% from "macros/buttons.html" import button %}
{% macro report(report) %}
    <div style="border:1px solid black;">
        <p>a</p>
        <!-- <p> qid: {{ report['qid']}}</p> -->
        <p> Motivo del reporte: {{ report['reason']}}</p>
        <p> Fecha: {{ report['timestamp']}}</p>  
        <p> Usuario que hizo el reporte {{ report['owner']['username'] }}</p>
        <p> Estado: {{report['status']}}</p>
        <!-- <p>{{ button('bluebg', "/question/"+report['qid']|string()+"/answers", 'Ver respuestas (no funciona)',) }}</p> -->
        
    </div>
    
{% endmacro %}