{% from "macros/buttons.html" import submit_button %}
{% macro report_comments(report) %}
    <div style="border:1px solid black;">
        <p> cid: {{ report['cid']}}</p>
        <p> Motivo del reporte: {{ report['reason']}}</p>
        <p> Fecha: {{ report['timestamp'] | ctime}}</p>  
        <p> Usuario que hizo el reporte {{ report['owner']['username'] }}</p>
        <p> Estado: {{report['status']}}</p>
        <!-- <p>{{ button('bluebg', "/question/"+report['qid']|string()+"/answers", 'Ver respuestas (no funciona)',) }}</p> -->
        {%- if report['status'] == "PENDING" -%}
            <form action="/accept_cr" method="put">
                <p>{{ submit_button('bluebg', 'Aceptar reporte',) }}</p>
            </form>
            <form action="/deny_cr" method="put">
                <p>{{ submit_button('bluebg', 'Rechazar reporte',) }}</p>
            </form>
        {%- endif -%}
    </div>
    
{% endmacro %}