{% from "macros/buttons.html" import submit_button %}
{% macro report_answers(report) %}
    <div style="border:1px solid black;">
        <p> aid: {{ report['aid']}}</p>
        <p> Motivo del reporte: {{ report['reason']}}</p>
        <p> Fecha: {{ report['timestamp'] }}</p>  
        <p> Usuario que hizo el reporte: {{ report['owner']['username'] }}</p>
        <p> Estado: {{report['status']}}</p>
        {%- if report['status'] == "PENDING" -%}
            <form action="/accept_answer_report" method="post">
                <p>{{ submit_button('bluebg', 'Aceptar reporte',) }}</p>
                <input type="hidden" name="arid" value="{{ report['arid'] }}">
                <input type="hidden" name="_method" value="PUT">
            </form>
            <form action="/deny_answer_report" method="post">
                <p>{{ submit_button('bluebg', 'Rechazar reporte',) }}</p>
                <input type="hidden" name="arid" value="{{ report['arid'] }}">
                <input type="hidden" name="_method" value="PUT">
            </form>
        {%- endif -%}
    </div>
    
{% endmacro %}