{% from "macros/buttons.html" import submit_button %}
{% macro report_comments(report) %}
    <div style="border:1px solid black;">
        <p> cid: {{ report['cid']}}</p>
        <p> Motivo del reporte: {{ report['reason']}}</p>
        <p> Fecha: {{ report['timestamp'] | ctime}}</p>  
        <p> Usuario que hizo el reporte {{ report['owner']['username'] }}</p>
        <p> Estado: {{report['status']}}</p>
        {%- if report['status'] == "PENDING" -%}
            <form action="/accept_comment_report" method="put">
                <p>{{ submit_button('bluebg', 'Aceptar reporte',) }}</p>
                <input type="hidden" name="qrid" value="{{ report['qrid'] }}">
            </form>
            <form action="/deny_comment_report" method="put">
                <p>{{ submit_button('bluebg', 'Rechazar reporte',) }}</p>
                <input type="hidden" name="qrid" value="{{ report['qrid'] }}">
            </form>
        {%- endif -%}
    </div>
    
{% endmacro %}