{% from "macros/list_reports.html" import list_reports %}
{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Moderator{% endblock %}
{% block contentheading %}Moderators panel{% endblock %}
{% block maincontent %}
    {% block moderatorcontent %}
        <p>Test :)</p>

        {%- if reports -%}
            <p>Hay Reports</p>
        {%- else -%}
            <p>No hay reports</p>
        {%- endif -%}

        {{ list_reports(question_reports) }}
        {{ list_reports(answer_reports) }}
        {{ list_reports(comment_reports) }}

        <p>esto es otro test</p>
    {% endblock %}
{% endblock %}
