{% from "macros/list_reports.html" import list_reports %}
{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Moderator{% endblock %}
{% block contentheading %}Moderators panel{% endblock %}
{% block maincontent %}
    {% block moderatorcontent %}

        <p>Question reports</p>

        {{ list_reports(True, question_reports) }}

        <p>Answer reports</p>

        {{ list_reports(True, answer_reports) }}

        <p>Comment reports</p>

        {{ list_reports(True, comment_reports) }}

    {% endblock %}
{% endblock %}
