{% from "macros/buttons.html" import button, submit_button %}
{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Crear comentario{% endblock %}
{% block contentheading %}Crear comentario{% endblock %}
{% block maincontent %}
    {% block addquestion %}

    <form action="/new_comment" method="post">
        <label for="lname">Cuerpo del comentario:</label><br>
        <input type="text" id="bodyText" name="bodyText">
        <fieldset>
            <legend>Sentimiento</legend>
            <input type="radio" id="pos" name="sent" value="POSITIVE" checked/>
            <label for="positivo">Positivo</label>
            <input type="radio" id="neu" name="sent" value="NEUTRAL"/>
            <label for="neutral">Neutral</label>
            <input type="radio" id="neg" name="sent" value="NEGATIVE"/>
            <label for="negativo">Negativo</label>
        </fieldset>
        <p>{{ submit_button('bluebg', 'Añadir comentario') }}</p>
        <input type="hidden" name="aid" value="{{ aid }}"/>
        <input type="hidden" name="qid" value="{{ qid }}"/>
        <input type="hidden" name="redirect_to" value="/questions/answers?qid={{ qid }}">
    </form> 

    

    {% endblock %}
{% endblock %}
