{% from "macros/buttons.html" import submit_button %}
{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Crear pregunta{% endblock %}
{% block contentheading %}Crear pregunta{% endblock %}
{% block maincontent %}
    {% block addquestion %}

    <form action="/new_question" method="post"/>
        <label for="fname">Título de la pregunta:</label><br>
        <input type="text" id="titleText" name="titleText"><br>
        <label for="lname">Cuerpo de la pregunta:</label><br>
        <input type="text" id="bodyText" name="bodyText">
        <p> {{ submit_button('bluebg', 'Añadir pregunta') }} </p>
    </form> 

    

    {% endblock %}
{% endblock %}
