{% from "macros/buttons.html" import button %}
{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Crear comentario{% endblock %}
{% block contentheading %}Crear comentario{% endblock %}
{% block maincontent %}
    {% block addquestion %}

    <form>
        <label for="lname">Cuerpo del comnetario:</label><br>
        <input type="text" id="bodyText" name="bodyText">
    </form> 

    <p>{{ button('bluebg', '#', 'Añadir respuesta', '#') }}</p>

    {% endblock %}
{% endblock %}
