{% from "macros/buttons.html" import button, submit_button %}
{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Crear respuesta{% endblock %}
{% block contentheading %}Crear respuesta{% endblock %}
{% block maincontent %}
    {% block addquestion %}    

    <form action="/new_answer" method="post">
        <label for="lname">Cuerpo de la respuesta:</label><br>
        <input type="text" id="bodyText" name="bodyText">
        <p>{{ submit_button('bluebg', 'Añadir respuesta') }}</p>
        <input type="hidden" name="qid" value="{{ qid }}"/>
        <input type="hidden" name="redirect_to" value="/question/answers?qid={{ qid }}">
    </form> 

    

    {% endblock %}
{% endblock %}
