{% from "macros/buttons.html" import submit_button %}
{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Reportar respuesta{% endblock %}
{% block contentheading %}Reportar respuesta{% endblock %}
{% block maincontent %}
    {% block addquestion %}

    <form action="/new_report_answer" method="post">
        <label for="lname">Razón del reporte:</label><br>
        <input type="text" id="bodyText" name="bodyText">
        <p>{{ submit_button('bluebg', 'Añadir reporte') }}</p>
        <input type="hidden" name="redirect_to" value="/questions/{{ qid }}/answers">
    </form> 

    

    {% endblock %}
{% endblock %}
