{% from "macros/buttons.html" import button %}
{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Reportar comentario{% endblock %}
{% block contentheading %}Reportar comentario{% endblock %}
{% block maincontent %}
    {% block addreport %}

    <form action="/new_report_comment", method="post">
        <label for="lname">Razón del reporte:</label><br>
        <input type="text" id="bodyText" name="bodyText">
        <p>{{ submit_button('bluebg', 'Añadir reporte') }}</p>
    </form> 

    

    {% endblock %}
{% endblock %}
